@use "../scss/media-queries.scss" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$ff-header: "Fira Sans", sans-serif;
$ff-sub: "Courier Prime", monospace;
$ff-text: "Catamaran", sans-serif;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

body,
html {
  position: initial;
  width: 100%;
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // scroll-behavior: smooth;
  scrollbar-width: none!important;
  color: var(--clr-contrast-100);
  &:before {
    @extend %top-left-full;
    content: "";
    position: fixed;
    // background-image: linear-gradient(270deg, #202123, #0d0d10);
    // background-image: -webkit-linear-gradient(270deg, #202123, #0d0d10);
    background-color: var(--clr-contrast-800);
    z-index: -10;
  }
}

body {
  font-family: $ff-text;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.canvas__wrapper{
  height:100%;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: left;
  margin: 0.5rem auto;
  width: 100%;
}

h1,
h2,
h3 {
  @include mq(medium) {
    margin-left: 0;
    margin-right: auto;
  }
}

h1 {
  font-size: var(--fs-header);
  position: relative;
  font-family: $ff-header;
  font-weight: 800;
  color: var(--clr-contrast-100);
  margin-bottom: var(--space-s);
  line-height: 1.3;
  &:before {
    content: attr(data-before);
    font-size: clamp(60px, 20vw, 100px);
    -webkit-text-stroke: 1px #2d2d2d;
    color: transparent;
    position: absolute;
    left: 15%;
    bottom: 15%;
    z-index: -1;
  }
}

h2 {
  font-size: var(--fs-sub-big);
  position: relative;
  font-family: "Fira Sans", sans-serif;
  font-weight: inherit;
  color: var(--clr-contrast-100);
  line-height: 1.3;
  border-bottom: 2px solid var(--clr-primary-200);
  &:before {
    content: attr(data-before);
    font-size: clamp(60px, 20vw, 120px);
    -webkit-text-stroke: 1px #2c2c2c;
    color: transparent;
    position: absolute;
    left: 15%;
    bottom: 15%;
    z-index: -1;
  }
}

h3 {
  font-size: var(--fs-sub-small);
  font-family: $ff-sub;
  font-weight: inherit;
  color: var(--clr-contrast-300);
  line-height: 1.2;
}

h4 {
  font-size: var(--fs-sub-small);
  font-family: $ff-text;
  font-weight: 900;
  line-height: 1.2;
}

h5 {
  margin: 0;
  color: var(--clr-contrast-200);
  font-size: var(--fs-text);
  font-weight: inherit;
  font-family: $ff-sub;
}

p {
  font-size: var(--fs-text);
  font-family: $ff-text;
  width: 100%;
  line-height: 1.5;
  font-weight: inherit;
  color: var(--clr-contrast-100);
}

a {
  text-decoration: none;
}

.btn__primary,
.btn__outline {
  @extend %trans;
  display: block;
  font-family: $ff-header;
  background-color: transparent;
  border-radius: 2px;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  position: relative;
  font-size: var(--fs-sub-small);
  font-weight: inherit;
  padding: var(--space-s) var(--space-l);
  overflow: visible;
  max-width: 300px;
}

.btn__primary {
  background-color: transparent;
  border: none;
  color: var(--clr-contrast-100);
}

.btn__outline {
  background-color: transparent;
  color: var(--clr-contrast-100);
  border: none;
  position: relative;
  box-shadow: inset 0px 0px 0px 2px var(--clr-contrast-100);
  animation: empty 0s;
  animation-iteration-count: 1;
  animation-play-state: paused;
  &:hover{
    box-shadow: inset 0 0 0 2px transparent;
    color: transparent;
  }
   &:after{
    content:attr(data-link-text);
    color: var(--clr-contrast-100);
    @extend %absolute-full, %trans, %flex-center;
    position: absolute;
    box-shadow: inset 0px 0px 0px 2px var(--clr-contrast-100);
    filter: sepia(0) hue-rotate(0deg);
    animation: empty 0s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    z-index:-1;
  }
  &:before{
    content:attr(data-link-text);
    color: var(--clr-contrast-100);
    @extend %absolute-full, %trans, %flex-center;
    position: absolute;
    box-shadow: inset 0px 0px 0px 2px var(--clr-contrast-100);
    animation: empty 0s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    z-index:-1;
  }
  &:hover:before{
    animation-play-state: running;
    animation: offsetGlitch 2s;
    animation-iteration-count: infinite;
  }
  &:hover:after{
    animation-play-state: running;
    animation: offsetGlitchCounter 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes empty {
}

@keyframes offsetGlitch {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  14%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  15% {
    clip-path: polygon(100% 66%, 0% 66%, 0% 100%, 100% 100%, 100% 44%, 0% 44%, 0% 0%, 100% 0%);
    transform: translateX(0px);
  }
  17% {
    clip-path: polygon(100% 66%, 0% 66%, 0% 100%, 100% 100%, 100% 44%, 0% 44%, 0% 0%, 100% 0%);
    transform: translateX(0px);
  }
  18%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  28%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  29%{
    clip-path: polygon(0 100%, 100% 100%, 100% 88%, 0 88%, 0 65%, 100% 65%, 100% 22%, 0 22%, 0 15%, 100% 15%, 100% 0, 0 0);
    transform: translateX(0px);
  }
  30%{
    clip-path: polygon(0 100%, 100% 100%, 100% 88%, 0 88%, 0 65%, 100% 65%, 100% 22%, 0 22%, 0 15%, 100% 15%, 100% 0, 0 0);
    transform: translateX(0px);
  }
  31%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  44%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  45%{
    clip-path: polygon(100% 66%, 0% 66%, 0% 100%, 100% 100%, 100% 44%, 0% 44%, 0% 0%, 100% 0%);
    transform: translateX(0px);
  }
  50%{
    clip-path: polygon(100% 66%, 0% 66%, 0% 100%, 100% 100%, 100% 44%, 0% 44%, 0% 0%, 100% 0%);
    transform: translateX(0px);
  }
  51%{
    clip-path: polygon(100% 66%, 0% 66%, 0% 100%, 100% 100%, 100% 44%, 0% 44%, 0% 0%, 100% 0%);
    transform: translateX(0px);
  }
  52%{
    clip-path: polygon(100% 66%, 0% 66%, 0% 100%, 100% 100%, 100% 44%, 0% 44%, 0% 0%, 100% 0%);
    transform: translateX(0px);
  }
  53%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  79%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  80%{
    clip-path: polygon(0 100%, 100% 100%, 100% 88%, 0 88%, 0 65%, 100% 65%, 100% 22%, 0 22%, 0 15%, 100% 15%, 100% 0, 0 0);
    transform: translateX(0px);
  }
  83%{
    clip-path: polygon(0 100%, 100% 100%, 100% 88%, 0 88%, 0 65%, 100% 65%, 100% 22%, 0 22%, 0 15%, 100% 15%, 100% 0, 0 0);
    transform: translateX(-10px);
  }
  84%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
  }

}

@keyframes offsetGlitchCounter {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  14%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  15%{
    clip-path: polygon(0% 66%, 100% 66%, 100% 44%, 0% 44%);
    transform: translateX(2px);
    filter: sepia(1) hue-rotate(45deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  17%{
    clip-path: polygon(0% 66%, 100% 66%, 100% 44%, 0% 44%);
    transform: translateX(2px);
    filter: sepia(1) hue-rotate(90deg);
    color: hsl(154, 91.5%, 62.9%);
    box-shadow: inset 0 0 0 2px hsl(154, 91.5%, 62.9%);
  }
  18%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  28%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  29%{
    clip-path: polygon(100% 88%, 0 88%,  100% 65%, 0 65%, 0 22%, 100% 22%, 100% 15%, 0 15%);
    transform: translateX(10px);
    filter: sepia(1) hue-rotate(90deg);
    color: hsl(154, 91.5%, 62.9%);
    box-shadow: inset 0 0 0 2px hsl(154, 91.5%, 62.9%);
  }
  30%{
    clip-path: polygon(100% 88%, 0 88%,  100% 65%, 0 65%, 0 22%, 100% 22%, 100% 15%, 0 15%);
    transform: translateX(10px);
    filter: sepia(1) hue-rotate(45deg);
    color: hsl(154, 91.5%, 62.9%);
    box-shadow: inset 0 0 0 2px hsl(154, 91.5%, 62.9%);

  }
  31%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  44%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  45%{
    clip-path: polygon(0% 66%, 100% 66%, 100% 44%, 0% 44%);
    transform: translateX(0px);
    filter: sepia(1) hue-rotate(90deg);
    color: hsl(154, 91.5%, 62.9%);
    box-shadow: inset 0 0 0 2px hsl(154, 91.5%, 62.9%);
  }
  50%{
    clip-path: polygon(0% 66%, 100% 66%, 100% 44%, 0% 44%);
    transform: translateX(15px);
    filter: sepia(1) hue-rotate(90deg);
    color: hsl(154, 91.5%, 62.9%);
    box-shadow: inset 0 0 0 2px hsl(154, 91.5%, 62.9%);
  }
  51%{
    clip-path: polygon(0% 66%, 100% 66%, 100% 44%, 0% 44%);
    transform: translateX(15px);
    filter: sepia(1) hue-rotate(90deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  52%{
    clip-path: polygon(0% 66%, 100% 66%, 100% 44%, 0% 44%);
    transform: translateX(0px);
    filter: sepia(1) hue-rotate(90deg);
    color: hsl(154, 91.5%, 62.9%);
    box-shadow: inset 0 0 0 2px hsl(154, 91.5%, 62.9%);
  }
  53%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  79%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  80%{
    clip-path: polygon(100% 88%, 0 88%,  100% 65%, 0 65%, 0 22%, 100% 22%, 100% 15%, 0 15%);
    transform: translateX(2px);
    filter: sepia(0) hue-rotate(0deg);
    color: rgb(16, 242, 144);
    box-shadow: inset 0 0 0 2px rgb(23, 255, 155);
  }
  83%{
    clip-path: polygon(100% 88%, 0 88%,  100% 65%, 0 65%, 0 22%, 100% 22%, 100% 15%, 0 15%);
    transform: translateX(2px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  84%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(0px);
    filter: sepia(0) hue-rotate(0deg);
    color: var(--clr-contrast-100);
    box-shadow: inset 0 0 0 2px var(--clr-contrast-100);
  }
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main section {
  height: auto;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 1.5rem;
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  @include mq(medium) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main section:first-of-type {
  padding-top: 120px;
}

.main section:last-of-type {
  padding-bottom: 100px;
}

div[data-scroll-content] .frame:first-child {
  height: auto;
  overflow-x: hidden;
  min-height: calc(100vh - 3rem);
  padding: 1.5rem;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  & header {
    width: 100%;
  }
  @include mq(medium) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
  z-index: -9999;
  animation-play-state: paused;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
